<div class="header">
    <nav class="header-1">
        <ul class="header-sub-section-1">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/Data visulization">Data visulization</a></li>
            <li><a routerLink="/About">About</a></li>
        </ul>
        <ul class="header-sub-section-2">
            <li  (click)="openLogin()" ><a>signIn</a></li>
            <li  (click)="openReg()" ><a>signUp</a></li>
        </ul>
    </nav>
</div>
