<div className="main">
  <form  (ngSubmit)="onSubmit">
    <p>signIn</p>
    <div className="form-group">
      <label>Name</label>
      <br />
      <input
        type="text"
        className="form-control"
        placeholder="enter your name"
        formControlName="name"
      />
    </div>
    <div className="form-group">
      <label>Email</label>
      <br />
      <input
        type="text"
        className="form-control"
        placeholder="enter your email"
        formControlName="email"
      />
    </div>
    <div className="form-group">
      <label>Phone</label>
      <br />
      <input
        type="number"
        className="form-control"
        placeholder="+91-607841808"
        formControlName="phone"
      />
    </div>
    <div className="form-group">
      <label>Password</label>
      <br />
      <input
        type="password"
        className="form-control"
        placeholder="enter your password"
        formControlName="password"
      />
    <div className="form-group">
      <button type="submit" className="btn btn-primary">submit</button>
    </div>
    </div>
  </form>
</div>
